<!-- Footer -->

<footer>
  <div class="row">
    <ul class="footer-links">
      <li>We would love to hear from you - <a href="/contact">Contact Us</a></li>
    </ul>
    <ul class="footer-social">
      <li>
        <a href="#" class="facebook"
          ><ion-icon name="logo-facebook"></ion-icon
        ></a>
      </li>
      <li>
        <a href="#" class="twitter"
          ><ion-icon name="logo-twitter"></ion-icon
        ></a>
      </li>
      <li>
        <a href="#" class="youtube"
          ><ion-icon name="logo-youtube"></ion-icon
        ></a>
      </li>
      <li>
        <a href="#" class="instagram"
          ><ion-icon name="logo-instagram"></ion-icon
        ></a>
      </li>
    </ul>
  </div>

  <div class="row">
    <p>Copyright &copy; Interview Tracker. All rigths reserved.</p>
  </div>
</footer>