
<section id="myModal" class="modal">
  <!--  form  -->
  <form class="row form-row" enctype="multipart/form-data">
  
    <span class="close">&times;</span>
    <div>
      <h2 class="h2Style">Send Experience For Approval</h2>
    </div>
  
    <!--  Company name  -->
    <div class="forms">
      <div class="span-1-3">
          <label for="companyName">Company Name</label>
      </div>
      <div class="span-2-3">
          <select name="companyName" id="companyName" required>
              <option value="google" selected>Google</option>
              <option value="microsoft">Microsoft</option>
              <option value="flipkart">Flipkart</option>
              <option value="amazon">Amazon</option>
              <option value="goldmanSachs">Goldman Sachs</option>
              <option value="uber">Uber</option>
              <option value="oracle">Oracle</option>
              <option value="wipro">Wipro</option>
              <option value="L&T">L&T</option>
              <option value="IBM">IBM</option>
              <option value="JPMC">JPMC</option>
              <option value="americanExpress">American Express</option>
              <option value="other">Other</option>
          </select>
      </div>
    </div>
  
    <!-- Title -->
    <div class="forms">
        <div class="span-1-3">
            <label for="title">Title</label>
        </div>
        <div class="span-2-3">
            <input type="text" name="title" id="title" placeholder="Title" required>
        </div>
    </div>
    

    <!-- Experience -->
    <div class="forms">
      <div class="span-1-3">
        <label for="experience">Your Experience</label>
      </div>
      <div class="span-2-3">
        <textarea id="experience" name="experience" placeholder="Your Experience" required></textarea>
      </div>
    </div>
  
    <!-- Submit -->
    <div class="forms">
      <div class="span-1-3">
          <label>&nbsp;</label>
      </div>
      <div class="span-2-3">
          <input type="submit" value="Send Experience">
      </div>
    </div>
  </form>
  </section>