<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interview Tracker</title>
    <link rel="stylesheet" href="css/styles_login.css" />
  </head>

  <body>
    

    <!-- Right Region -->
    <section class="right">
      <div class="space"></div>
      <div class="main-box">
        <h2><ion-icon class="icon2" name="log-in"></ion-icon>Log In</h2>
        <form method="POST" action="#">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter Your Email"
            required
          /><br />
          <div class="email error"></div>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter Your Password"
            required
          /><br />
          <div class="password error"></div>
          <input type="submit" value="Log In" />
        </form>
        <div class="route">
          <a class="btn" href="/signup">Signup</a>
          &nbsp; | &nbsp;
          <a class="btn" href="/">Home</a>
        </div>
      </div>
    </section>

    <!-- Left Region -->
    <section class="left">
      <div>
        <ul>
          <li>
            <ion-icon class="icon1" name="people"></ion-icon>Community Learning
          </li>
          <li>
            <ion-icon class="icon1" name="happy"></ion-icon>Interview Experiences
          </li>
          <li>
            <ion-icon class="icon1" name="pencil"></ion-icon>Topic-wise Learning
          </li>
        </ul>
      </div>
    </section>
  </body>

  <!--****************JavaScript*******************-->
  <script>
    const form = document.querySelector("form");
    const emailError = document.querySelector(".email.error");
    const passwordError = document.querySelector(".password.error");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      //Selecting email and password
      const email = form.email.value;
      const password = form.password.value;

      try {
        const res = await fetch("/login", {
          method: "POST",
          body: JSON.stringify({ name, email, password }),
          headers: { "Content-Type": "application/json" },
        });

        const data = await res.json();
        if (data.errors) {
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        } else if (data.user) {
          location.assign("/");
        }
      } catch (err) {
        console.log(err);
      }
    });
  </script>
  <%- include("./partials/ion-icons-script.ejs") %>
</html>
