* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/**** Recurring ****/

a {
  text-decoration: none;
}

.row {
  width: 80%;
  margin: 0 auto;
}

section h2 {
  font-size: 180%;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
section h2:after {
  display: block;
  background-color: #705c79;
  height: 2px;
  width: 10%;
  content: " ";
  margin: 20px auto;
}

/**** Back ****/

.back a:link,
.back a:visited {
  padding: 12px 18px;
  background-color: rgb(90, 90, 148);
  text-decoration: none;
  color: #fff;
  font-size: 120%;
  transition: background-color 0.3s;
  display: inline-block;
  margin-right: 20px;
}

.back ion-icon{
  margin-right: 10px;
}

.back a:hover,
.back a:active{
  background-color: rgb(57, 57, 146);
}

/**** Gen CSS ****/
.main_section {
  padding-top: 100px;
}

.box {
  margin: 50px 0;
  padding: 3%;
  background-color: #f4f4f4;
}

.clr:after {
  content: "";
  display: table;
  clear: both;
}

.maxHeight {
  max-height: 100px;
}

.hidden {
  display: none;
}



/**** row-1 ****/
.profilePic {
  display: block;
  float: left;
  height: 200px;
  width: 200px;
  margin-right: 40px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.box-1 {
  display: inline-block;
  max-height: 200px;
}

.main_section h3 {
padding-top: 20px;
font-size: 300%;
font-weight: 300;
text-transform: uppercase;
margin-bottom: 15px;
color: #705c79;
}

.name {
font-size: 140%;
font-weight: 300;
text-transform: uppercase;
word-spacing: 4px;
margin-bottom: 15px;
padding-left: 245px;
font-family: "Lato", "Arial", sans-serif;
text-align: left;
}

/**** midrow ****/

.midrow {
  margin-top: 20px;
  color: rgb(138, 77, 2);
}

.midrow p {
  text-transform: capitalize;
}

/**** row-2 ****/

.row2{
  margin-top: 30px;
}
.row2 button{
  margin: 10px 0 25px 0;
  padding: 0.2%;
}

.longcopy{
  overflow: hidden;
}

/**** Approve Button ****/

.Approve{
  text-decoration: none;
  color: #fff;
  background-color: darkorange;
  padding: 10px 50px;
  transition: background-color 0.3s;
}
.Approve:hover{
  background-color: rgb(123, 202, 4);
}

/*****************************/
/******** Responsive *********/
/*****************************/



/********* main ************/

@media only screen and (max-width: 820px) {
  .row1{
    text-align: center;
  }
  .profilePic {
    margin: 10px 25%;
  }
  .longcopy{
    text-align: justify;
  }
  .name {
    padding-left: 0;
    text-align: center;
  }
}

